@use "../abstracts/" as *;

.button {
  border: 0;
  cursor: pointer;
  display: inline-flex;
  padding: 1.125em 2em;
  transition: 275ms ease;

  line-height: 1;
  font-weight: $fw-bold;
  text-decoration: none;
  text-transform: uppercase;

  &:is(:hover, :focus) {
    background: clr(neutral, 100);
    color: clr(neutral, 900);
  }

  &--accent {
    background-color: clr(primary, 400);
    color: clr(neutral, 900);
  }

  &--outline {
    --outline-size: 5px;
    background: transparent;
    outline: var(--outline-size) solid clr(neutral, 100);
    outline-offset: calc(var(--outline-size) * -1);
    color: clr(neutral, 100);
  }
}
