@use "../abstracts/" as *;

.section-header {
  &:has(p) {
    margin-block-end: size(36);
  }

  &:not(:has(p)) {
    margin-block-end: size(36) * 2.5;
  }

  &--decorated::after {
    content: "";
    display: block;
    width: 10rem;
    height: 1px;
    margin-block: size(36);
    background-color: currentColor;

    .text-center & {
      margin-inline: auto;
    }
  }

  &--decorated.text-center::after {
    margin-inline: auto;
  }

  &.text-center p {
    margin-inline: auto;
  }

  p {
    max-width: 50ch;

    .text-center & {
      margin-inline: auto;
    }
  }
}
